/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Make the map responsive. */
#mapImage {
    width: 1200px;
    height: auto;
}

/* Make that marker stand out more. */
#marker {
    display: none;
    position: absolute;
    margin: -32px 0 0 -32px; 
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
        from {
                -webkit-transform: rotate(0deg);
        }
        to {
                -webkit-transform: rotate(359deg);
        }
}

#title {
    text-align: center;
}


* {
	box-sizing: border-box;
}

.map-app {
	margin: auto 0;
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.5;
}

.aside {
	position: fixed;
	width: 100%;
	padding: 10px;
	background: #fff;
}

.aside.search {
	top: 0;
	border-bottom: 2px solid #333;
}

.aside.share {
	bottom: 0;
	border-top: 2px solid #333;
}

.search-container {
	background: #fff;
}

.search-results {
	position: absolute;
	top: 75px;
	left: 0;
	z-index: 1;
	background: #fff;
	width: 100%;
}

.search-results li {
	line-height: 2;
	padding-left: 1%;
}

.dropdown.floor {
	position: absolute;
	top: 150px;
}

.search-results li:nth-child(2n+1) {
	background: #f2f2f2;
}

.map-canvas {
	width: 100%;
	margin-top: 12%;
	height: auto;
}

.map-input {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #333;
	line-height: 2;
	padding-left: 5px;
	font-size: large;
}

.bgc-pink {
	background-color: pink;
}

.copy-to-clipboard {
	display: none;
}